<!-- start footer-->
<div class="footer">
	<div class="container-fluid">
		<h6>This is a beta</h6>
		<a href="https://github.com/andyhull/ballot_initiatives/">Checkout the code</a>
	</div>
</div>
<!-- end footer-->